<template name="useCasesItemMyCardsets">
    {{#if gotCardIndex}}
        <tr>
            <td>
                {{_ "useCases.modal.description.personal.cardsets"}}
                <div class="visible-xs">
                    {{> useCasesItemMyCardsetsButton}}
                </div>
            </td>
            <td class="hidden-xs">
                {{> useCasesItemMyCardsetsButton}}
            </td>
        </tr>
    {{/if}}
</template>

<template name="useCasesItemMyCardsetsButton">
    <button class="btn btn-raised btn-default useCaseGoToCardIndex" type="button" data-dismiss="modal"
            aria-hidden="true">{{{getUseCasesIcon "myCardsets"}}}{{_ "useCases.modal.button.personal.cardsets"}}</button>
</template>
