<template name="filterItemFilterWordcloud">
    <li class="dropdown cards-filter-element">
        <a href="#" class="dropdown-toggle wordcloudBtn wordcloudFilter cards-filter-element"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true" aria-expanded="false">
            {{_ "filter-pool.wordcloud"}}
            {{#if hasWordcloudFilter}}
                <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
            {{/if}}
        </a>
        <ul class="dropdown-menu cards-filter-element">
            <li class="cards-filter-element">
                <a href="#" class="noFilterWordcloud cards-filter-element">{{_
                        "filter-pool.wordcloudEveryting"}}</a>
            </li>
            {{#if gotRecommendedCardsets}}
                <li class="cards-filter-element">
                    <a href="#" class="filterWordcloud cards-filter-element"
                       data-id="true">{{_ "filter-pool.wordcloudTrue"
                                          lastAppTitle=(getLastAppTitle)}}
                        {{#if resultsFilterWordcloud true}}
                            <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
                        {{/if}}
                    </a>
                </li>
            {{/if}}
            {{#if gotNotRecommendedCardsets}}
                <li class="cards-filter-element">
                    <a href="#" class="filterWordcloud cards-filter-element"
                       data-id="false">{{_ "filter-pool.wordcloudFalse"}}
                        {{#if resultsFilterWordcloud false}}
                            <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
                        {{/if}}
                    </a>
                </li>
            {{/if}}
        </ul>
    </li>
</template>
