<template name="filterItemResetButton">
    <li class="cards-filter-element">
        <button class="resetFilters resetBtn btn btn-raised cards-filter-element"
                role="button" {{isDisabled}}><span class="flex-content cards-filter-element"><i class="fa fa-filter cards-filter-element"></i>&nbsp;{{_ "filter-pool.reset"}}</span>
        </button>
    </li>
</template>
