<template name="impressumAboutHeadingDE">
    <h1>Die alternative Lernplattform</h1>
</template>

<template name="impressumAboutContentDE">
    <h2>Das Projekt</h2>
    <p>
        🍅cards (gesprochen: &raquo;dot cards&laquo;) ist für das <b>Mitschreiben und Lernen</b> in den
        Studiengängen der
        Technischen Hochschule Mittelhessen, THM, entwickelt worden.
        Das <a href="https://github.com/thm-projects/arsnova-flashcards"
               target="_blank">Open-Source-Projekt</a>
        wurde in der
        <a href="https://www.thm.de/site/hochschule/service/ag-qls.html" target="_blank">Arbeitsgemeinschaft
            Qualität in Lehre und Studium</a>
        konzipiert. Entwicklung und Betrieb werden mit <a
            href="https://www.thm.de/zqe/unsere-aufgaben/qsl-mittel.html" target="_blank"> QSL-Mitteln der
        THM</a> gefördert.
    </p>
    <p>
        🍅cards ist keine herkömmliche Lernkartei-App wie <a href="https://quizlet.com/" target="_blank">Quizlet</a>
        oder
        <a href="https://www.supermemo.com/" target="_blank">SuperMemo</a>.
        Denn 🍅cards unterstützt nicht nur das Lernen von Studieninhalten mit digitalen Karteikarten,
        sondern auch das
        Nachbearbeiten und Lernen von Mitschriften:
        🍅cards versteht sich als <b>vorlesungsbegleitende persönliche Lernumgebung</b>, als
        ein virtueller Ort, wo Lernzeit mit kognitiven Tätigkeiten (Nachbearbeiten der Mitschrift,
        Lernkarten
        erstellen, repetitives Beantworten von Lernfragen) intensiv verbracht wird
        — im Gegensatz zu Moodle, das meist nur als Verteilungsplattform für Skripte dient.
    </p>
    <p>
        Der Stifterverband für die Deutsche Wissenschaft und die DATEV-Stiftung Zukunft haben das Projekt
        für ein <a href="https://www.stifterverband.org/lehrfellowships" target="_blank">Senior-Fellowship
        für Innovationen in der Hochschullehre</a> ausgewählt.
    </p>

    <h2>Das Lehr- und Lernkonzept</h2>
    <p>
        Das Konzept von 🍅cards ermöglicht der Lehrperson, den Lernprozess der Studierenden objektiv
        zu bewerten, um so gegebenenfalls <b>Bonuspunkte für regelmäßiges Mitschreiben und wiederholtes
        Lernen</b> über den Semesterverlauf zu vergeben.
        Das Lernen gemäß den in 🍅cards implementierten Wiederholungs-Algorithmen von
        <a href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">Sebastian Leitner</a> oder
        <a href="https://en.wikipedia.org/wiki/Piotr_Wo%C5%BAniak_(researcher)" target="_blank">Piotr
            Woźniak</a> ist nachweislich die effektivste Lernstrategie, um Studieninhalte langfristig — über
        die Klausuren und das Studium hinaus — im Gedächtnis zu behalten,
        siehe unseren Beitrag für die <a href="http://site.aace.org/" target="_blank">SITE Conference</a>,
        hieraus das Abstract:
    </p>

    <blockquote style="font-size: inherit; font-style: normal">

        <p>
            <a href="https://git.thm.de/arsnova/flashcards/blob/staging/docs/ARSnova.pdf" target="_blank">
                Against Academic Procrastination: <br/>
                Pedagogical Apps to Implement Distributed Learning in Course Design
            </a>
        </p>

        <p>
            Most of the facts and figures, terms and concepts taught in college are learned in the
            week before examination and forgotten a month after. Although we have known about the very low
            long-term
            knowledge retention of cramming since Ebbinghaus’ &raquo;forgetting curve&laquo; in 1885, this
            learning tactic
            prevails because it works—at least for passing exams. As university lecturers, we seldom
            received a
            training on effective teaching and learning strategies. However, we can follow the
            evidence-based
            recommendations from cognitive and educational psychology on how to structure a course to
            distribute
            learning. With new pedagogical apps at hand, we can implement <a
                href="https://en.wikipedia.org/wiki/Spaced_repetition" target="_blank">spaced repetition</a>
            against procrastination in our course design. This paper outlines a pedagogical project to be
            conducted across
            several consecutive semesters. The project follows the &raquo;What Works Clearinghouse&laquo;
            practice guide on
            spacing learning events over time. The recommendations are implemented by using <a
                href="https://arsnova.eu" target="_blank">ARSnova</a>,
            a set of innovative web-based question-and-answer apps for quizzing in class and self-quizzing
            at home.
        </p>

        <a href="https://www.gwern.net/images/spacedrepetition/forgetting-curve-wired-wozniak.jpg"
           data-lightbox="img-1"
           data-title="Die Vergessenskurve von Hermann Ebbinghaus. Die Kurve verdeutlicht den Rückgang der Gedächtnisspeicherung in der Zeit.">
            <img src="https://www.gwern.net/images/spacedrepetition/forgetting-curve-wired-wozniak.jpg"
                 alt="forgetting curve" class="img-responsive center-block"/>
        </a>

        <p class="text-center">
            Bildquelle: <a href="https://www.gwern.net/Spaced-repetition" target="_blank">Gwern Branwen:
            &raquo;Spaced
            Repetition&laquo;</a>
        </p>
    </blockquote>

    <h2>Die Integration in die Präsenzlehre</h2>
    <p>🍅cards wurde auch zum Präsentieren von Lerninhalten am Beamer entwickelt – als Ersatz für PowerPoint
        oder Keynote.
        Die Ansicht der Karten ist für die Projektion optimiert: Vollansicht, Kontrast, Textskalierung,
        Tastatursteuerung.
        Wenn Studierende eine Kartei vom Typ &raquo;Mitschrift&laquo; anlegen,
        können sie per Auswahlmenü ihre Mitschrift mit der Präsentation verlinken und so alle Mitschriften,
        die zu einem Modul gehören, als Einheit organisieren.
        Eine weitere Organisationform ist das <strong>Repetitorium</strong> auf 🍅cards:
        Karteien beliebigen Typs können zur Prüfungsvorbereitung zusammengefasst und zusammen gelernt
        werden.
        Die dabei erzielten Lernstände können durch Auswahl einer zum Repetitorium gehörenden Kartei
        differenziert angezeigt werden.
    </p>
    <h2>Das Nutzungskonzept</h2>
    <p>
        Die Studierenden der THM haben über ihren <b>Uni-Zugang</b> kostenlosen Zugriff auf alle
        <b>THM-Karteien und -Repetitorien</b>.
        Hierbei handelt es sich um Karteien, die von Lehrenden der THM für ihre Module angelegt wurden.
        THM-Studierende können ihre Karteien in einem Themen-Pool der Allgemeinheit zur
        freien Verfügung stellen.
    </p>
    <h2>Der Name</h2>
    <p>
        <strong>🍅cards</strong> steht für das zentrale Medium der Lernplattform
        und ist seit 2014 eine der neuen <strong>generischen Top-Level-Domains</strong>
        (<a href="https://de.wikipedia.org/wiki/Neue_Top-Level-Domains" target="_blank">gTLD</a>) im Web.
        Die Koinzidenz der Namen ermöglicht kurze und prägnante Webadressen für themenspezifische
        Installationen von 🍅cards,
        zum Beispiel <a href="https://linux.cards" target="_blank">linux.cards</a>,
        wobei die Subdomain für die Widmung der Plattform steht.
        Erfreulich sind auch die derzeitigen Domainkosten: ca. 25 € pro Jahr.
    </p>
</template>

