<template name="helpContentENCategoryPresentation">

    <ul>
        <a href="/img/help/de/Rand-Buttons.jpg"
           data-lightbox="img-1" data-title="Rand-Buttons in der Präsentation">
            <img src="/img/help/de/Rand-Buttons.jpg"
                 alt="Rand-Buttons" class="img-responsive center-block"/>
        </a>
    </ul>

    <p><strong>Linker Bildschirmrand</strong></p>
    <ul>  
        <li><strong>Pfeil</strong> | zur nächsten Karte wechseln</li>
        <li><strong>Verzeichnis</strong> | zu einer beliebigen Karte wechseln</li>
        <li><strong>Tomate</strong> | den Pomodoro-Timer beenden</li>
        <li><strong>ARSnova.click</strong> | die Quiz-App aufrufen</li>
    </ul>
    <p><strong>Rechter Bildschirmrand</strong></p>
    <ul>
        <li><strong>Vollbild</strong> | den Präsentationsmodus beenden</li>
        <li><strong>Lupe</strong> | den Kartentext vergrößern</li>
        <li><strong>Monitor</strong> | das Seitenverhältnis ändern</li>
        <li><strong>Fragezeichen</strong> | diese Hilfe aufrufen</li>
    </ul>

</template>
